* {
  background-color: white;
}

#name {
  font-family: Times New Roman;
  color: Crimson;
  font-size: 96px;
  outline-color: red;
  border: 6px solid black;
  text-align: center;
  margin: 0px;
}

#navigation {
  border: 5px solid black;
  text-align: center;
  vertical-align: center;
}

.innerbox {
  border: 3px solid Crimson; 
}

tr {
  border: 3px solid Crimson;
  outline-color: Crimson
}

td {
  border: 3px solid Crimson;
  outline-color: Crimson
}

th {
  border: 3px solid Crimson;
  outline-color: Crimson
}
