* {
  background-color: white;
}

#name {
  font-family: Times New Roman;
  color: Crimson;
  font-size: 96px;
  outline-color: red;
  border: 6px solid black;
  text-align: center;
  margin: 0px;
}

.navtable {
  border: 1px solid black;
  text-align: center;
  vertical-align: center;
  padding: 4px;
}
/*
th.navtable {
width: 60px;
}*/

#navigation {
  border: 5px solid black;
}
