* {
  background-color: grey;
}

#name {
font-family: Times New Roman;
color: Crimson;
font-size: 100px;
outline-color: red;
border: 6px solid black;
text-align: center;
}

.navtable {
  border: 1px solid black;
  width: 40%;
  margin: auto;
}
